<div fxLayout="row wrap" class="matero-row">
  <div fxFlex="100" class="matero-col">
    <button mat-raised-button class="m-r-8" color="primary" cdkFocusInitial (click)="save()">{{ 'common.save' |
      translate }}</button>
    <button mat-raised-button class="m-r-8 button-close" (click)="onClose()">{{ 'common.close' | translate }}</button>
  </div>
</div>
<div fxLayout="row wrap" class="matero-row">
  <div fxFlex="100" class="matero-col">
    <mat-card>
      <mat-card-title *ngIf="!editMode">Tạo mới</mat-card-title>
      <mat-card-title *ngIf="editMode">Chỉnh sửa</mat-card-title>

      <form [formGroup]="reactiveForm">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <div fxLayout="column" fxFlex="0 0 47%">
            <!-- fromLongitude -->
            <mat-form-field class="m-r-8">
              <mat-label>Tọa độ x từ</mat-label>
              <input matInput placeholder="Tọa độ x từ" formControlName="fromLongitude" required>
              <mat-error *ngIf="reactiveForm.get('fromLongitude')?.invalid">
                {{'validations.required' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="column" fxFlex="0 0 47%">
            <!-- fromLatitude -->
            <mat-form-field class="m-r-8">
              <mat-label>Tọa độ y từ</mat-label>
              <input matInput placeholder="Tọa độ y từ" formControlName="fromLatitude" required>
              <mat-error *ngIf="reactiveForm.get('fromLatitude')?.invalid">
                {{'validations.required' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <div fxLayout="column" fxFlex="0 0 47%">
            <!-- toLongitude -->
            <mat-form-field class="m-r-8">
              <mat-label>Tọa độ x đến</mat-label>
              <input matInput placeholder="Tọa độ x đến" formControlName="toLongitude" required>
              <mat-error *ngIf="reactiveForm.get('toLongitude')?.invalid">
                {{'validations.required' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="column" fxFlex="0 0 47%">
            <!-- toLatitude -->
            <mat-form-field class="m-r-8">
              <mat-label>Tọa độ y đến</mat-label>
              <input matInput placeholder="Tọa độ y đến" formControlName="toLatitude" required>
              <mat-error *ngIf="reactiveForm.get('toLatitude')?.invalid">
                {{'validations.required' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <div fxLayout="column" fxFlex="0 0 47%">
            <!-- numberOfKm -->
            <mat-form-field class="m-r-8" [style.max-width.px]="150">
              <mat-label>Số km</mat-label>
              <input matInput placeholder="Số km" formControlName="numberOfKm" required (focus)="onFocusNumber($event)"
                (blur)="onBlurNumber($event)">
              <mat-error *ngIf="reactiveForm.get('numberOfKm')?.invalid">
                {{'validations.required' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>

    </mat-card>
  </div>
</div>