<div fxLayout="row wrap" class="matero-row">
  <div fxFlex="100" class="matero-col">
    <button mat-raised-button class="m-t-8" color="primary" cdkFocusInitial (click)="save()">{{ 'common.save' |
      translate }}</button>
    <button mat-raised-button class="m-t-8 button-close" (click)="onClose()">{{ 'common.close' | translate }}</button>
  </div>
</div>
<div fxLayout="row wrap" class="matero-row">
  <div fxFlex="100" class="matero-col">
    <mat-card>
      <mat-card-title>Đổi mật khẩu</mat-card-title>

      <form class="form-field-full" [formGroup]="reactiveForm">
        <!-- oldPass -->
        <mat-form-field appearance="outline">
          <mat-label>Mật khẩu cũ</mat-label>
          <input matInput type="password" formControlName="oldPass" required>
          <mat-error *ngIf="reactiveForm.get('oldPass')?.invalid">
            {{'validations.required' | translate}}
          </mat-error>
        </mat-form-field>
        <!-- password -->
        <mat-form-field appearance="outline">
          <mat-label>{{'login.password' | translate}}</mat-label>
          <input matInput type="password" formControlName="password" required>
          <mat-error *ngIf="reactiveForm.get('password')?.invalid">
            {{'validations.required' | translate}}
          </mat-error>
        </mat-form-field>
        <!-- confirmPassword -->
        <mat-form-field appearance="outline">
          <mat-label>{{'register.confirm_password' | translate}}</mat-label>
          <input matInput type="password" formControlName="confirmPassword" required>
          <mat-error *ngIf="reactiveForm.get('confirmPassword')?.hasError('required')">
            {{'validations.required' | translate}}
          </mat-error>
          <mat-error *ngIf="reactiveForm.get('confirmPassword')?.hasError('confirm')"
                     translate [translateParams]="{value: 'login.password' | translate}">
            {{'validations.inconsistent'}}
          </mat-error>
        </mat-form-field>
      </form>

    </mat-card>
  </div>
</div>