.form {
  width: 100%;
  min-width: 150px;
  max-width: 500px;
}

.form-field-full-width {
  width: 100%;
}

.form-field-option-img {
  margin-right: 8px;
  vertical-align: middle;
}

[dir='rtl'] .form-field-option-img {
  margin-right: 0;
  margin-left: 8px;
}

.button-image-delete {
  width: 2rem;
  background-color: red;
}

.button-close {
  float: right
}

.mat-card.scrollable-content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.mat-card.scrollable-content > .mat-card-title-group {
  display: block;
}

.mat-card.scrollable-content > .mat-card-content {
  overflow-y: auto;
}

.scroll-viewport {
  height: 70px;
  width: auto;
  border: 1px solid black;
}

.scroll-item {
  height: 20px;
}